<div class="col m7 s12">
  <h3 class="fade-in-right" innerHtml="{{job['name']}}"></h3>
  <div class="row">
    <div class="col fade-in-right slower" innerHtml="{{job['contents']}}">
    </div>
  </div>
</div>
<div class="col m5">
  <ul>
    <li>Date: {{job['publication_date'] | date}}</li>
    <li>Company: {{job['company']['name']}}</li>
    <li>Location: {{job['locations'][0]['name']}}</li>
    <li>Category: {{job['categories'][0]['name']}}</li>
    <li>Level: {{job['levels'][0]['name']}}</li>
    <li><a href="{{job['refs']['landing_page']}}">more</a></li>
    <li><button *ngIf="loggedIn" (click)="saveFavorite()">save</button></li>
    <li><button *ngIf="loggedIn" (click)="deleteFavorite()">delete</button></li>
    <li>
      <div *ngIf="!checked && loggedIn"><button [routerLink]="protected" (click)="saveFavorite()">Favourite</button></div>
      <div *ngIf="checked && loggedIn"><button [routerLink]="protected" (click)="deleteFavorite()">Unfavourite</button></div>
      <!-- <mat-slide-toggle [(ngModel)]="checked" (click)="changed()"  color="Basic">{{checked}}</mat-slide-toggle>
      <mat-slide-toggle class="example-margin" [color]="color" (change)="changed()">
        Slide me! {{checked}}
      </mat-slide-toggle> -->
    </li>
  </ul>
</div>